<ion-view view-title="Service">
  <ion-content class="has-header">
  <div class="item item-royal item-text-wrap text-center">
        <h1 class="white-text">{{ServiceCtrl.service.name}}</h1>
        <p class="white-text">
            {{ServiceCtrl.shop.name}}
        </p>
    </div>
    <div class="item item-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit rem ab ut commodi ducimus aliquid hic consectetur, ipsam ex officiis natus atque quia eos repudiandae officia id in nam earum.</p>
    </div>
 
  
    <div class="item item-royal item-text-wrap item-button-right">
      <button class="button  button-royal" ng-click="ServiceCtrl.goToMonthView()">
        Cambia giorno
        
      </button>
      Disponibilità del {{ ServiceCtrl.currentDay }}
    </div>
    <div class="item item-positive item-button-right" ng-repeat="range in ServiceCtrl.rangesByDates[ServiceCtrl.currentDay]">
      {{ range.start_moment.format("HH:mm") }} - {{ range.end_moment.format("HH:mm") }}
      <button class="button button-energized button-outline">
        Prenota
      </button>
    </div>
  
  
    
  </ion-content>
</ion-view>
